.conversation-photo
{
   /* background-color: grey;*/
    height: 50%;
    width: 18%;
    position: relative;
    top: 2%;
    left: 1%;
}


.conversation-user
{
    height: 15%;
    width: 55%;
   /* background-color: grey;*/
    position: relative;
    left: 20%;
    bottom: 46%;
    color: grey;
}

.conversation-message
{
   /* background-color: grey;*/
    height: 25%;
    width: 80%;
    position: relative;
    left: 5%;
    text-overflow: ellipsis;
}

.conversation-photo img
{
    height: 110%;
    width: 100%;
    transform: rotate(180deg);
    border-radius: 50%;
}

.conversation-message p
{
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: gray;
}

.conversation-time
{
   /* background-color: grey;*/
    height: 20%;
    width: 12%;
    position: relative;
    left: 87%;
    bottom: 20%;
    overflow: hidden;
    color: grey;
    
}

.conversation:last-child
{
   /* border-bottom: none;*/
}

.conversation:hover
{
    background-color: #dfdfdf;
}
.conversation firstchild:hover
{
    background-color: #d3d3d3;
    border-top: 1px solid #4c4c4c;
}

.conversation-zone img 
{
    width: 36.7%;
    height: 80%;
    border-radius: 20px;
    position: relative;
    left: 5px;
}

.current-user
{
    position: relative; height: 80%;
    top: 5%;
}

.current-user-photo
{
    height: 89%;
    left: 93%;
    width: 5%;
    position: relative;
    top: 15%;
/*    background-color: grey;*/
}

.current-user-photo img
{
    height: 110%;
    width: 100%;
    transform: rotate(180deg);
    border-radius: 50%;
}

.current-user-name
{
    height: 20%;
    width: 10%;
   /* background-color: grey;*/
    position: relative;
    bottom: 60%;
    left: 82%;
    text-overflow: ellipsis;
}
